@model IEnumerable<GroupViewModel>

@{
    ViewData["Title"] = "گروه ها";
}

<div class="content-header row">
    <div class="content-header-left col-12 my-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h5 class="content-header-title float-left">@ViewData["Title"]</h5>
                <div class="breadcrumb-wrapper ">
                    <ol class="breadcrumb p-0 pl-1 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active">
                            @ViewData["Title"]
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="content-body">
    <section id="person-list-content">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-primary mr-1 mb-1 active btn-pointer" onclick="newGroup()">ایجاد گروه جدید</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content table-responsive">
                        <table class="table mb-0 line-height-1">
                            <thead>
                                <tr>
                                    <th>
                                        نام
                                    </th>
                                    <th>
                                        تاریخ ایجاد
                                    </th>
                                    <th>
                                        وضعیت
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="groups-table-body">
                                @foreach (var item in Model)
                                {
                                    <tr id="@item.Id">
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.CreateDate
                                        </td>
                                        <td>
                                            @{
                                                switch (item.Status)
                                                {
                                                    case 0:
                                                        <h6 class="text-success">فعال</h6>
                                                        break;
                                                    case 1:
                                                        <h6 class="text-warining">غیر فعال</h6>
                                                        break;
                                                    case 2:
                                                        <h6 class="text-danger">حذف شده</h6>
                                                        break;
                                                    default:
                                                        <h6>فعال</h6>
                                                        break;
                                                }
                                            }
                                        </td>

                                        <td>
                                            <a onclick="editGroup({id:'@item.Id',name:'@item.Name'})">
                                                <i class="badge-circle badge-circle-light-secondary bx bxs-pencil font-medium-1"></i>
                                            </a>
                                        </td>
                                        @if (item.Status != 2)
                                        {
                                            <td>
                                                <a onclick="deleteGroup({id:'@item.Id',name:'@item.Name'})">
                                                    <i class="badge-circle badge-circle-light-danger bx bxs-trash-alt font-medium-1"></i>
                                                </a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
